<h1>Pipes <small>Angular</small></h1>
<hr />

<div class="row">
  <div class="col-12 mb-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
          <td>uppercase</td>
          <td>{{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>lowercase</td>
          <td>{{ name | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:3</td>
          <td>{{ name | slice: 3 }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:0:3</td>
          <td>{{ name | slice: 0:3 }}</td>
        </tr>
        <tr>
          <td>{{ array }}</td>
          <td>slice:1:3</td>
          <td>{{ array | slice: 1:3 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>decimal:'.0-2'</td>
          <td>{{ PI | number: ".0-2" }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent</td>
          <td>{{ percentage | percent }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent: "2.2-2"</td>
          <td>{{ percentage | percent: "2.2-2" }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency</td>
          <td>{{ salary | currency }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency: "EUR"</td>
          <td>{{ salary | currency: "EUR" }}</td>
        </tr>
        <tr>
          <td>{{ prom }}</td>
          <td>async</td>
          <td>{{ prom | async }}</td>
        </tr>

        <tr>
          <td>{{ now }}</td>
          <td>date</td>
          <td>{{ now | date }}</td>
        </tr>
        <tr>
          <td>{{ now }}</td>
          <td>date:"long"</td>
          <td>{{ now | date: "long" }}</td>
        </tr>
        <tr>
          <td>{{ now }}</td>
          <td>date: "dd/MM/yyyy h:mm a"</td>
          <td>{{ now | date: "dd/MM/yyyy h:mm a" }}</td>
        </tr>
        <tr>
          <td>{{ now }}</td>
          <td>date: "dd M yyy"</td>
          <td>{{ now | date: "dd MMMM yyy" }}</td>
        </tr>

        <tr>
          <td>{{ name }}</td>
          <td>translate-pass</td>
          <td>
            <button (click)="showPass()" class="btn btn-primary btn-small mr-3">
              {{ !showName ? "Mostrar" : "Ocultar" }}
            </button>
            {{ name | translatePass: showName }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 mb-3">
    <h4>Slice</h4>
    <hr />
    <ul class="list-group mb-3">
      <li class="list-group-item" *ngFor="let item of array | slice: 5:20">
        {{ item }}
      </li>
    </ul>

    <h4>Json</h4>
    <hr />
    <pre>{{ hero | json }}</pre>
  </div>
</div>
